.legend-container {
    overflow-y: auto;
    max-height: 200px;
    max-width: 100%;
    white-space: nowrap;
    display: inline-block;
}

.columna1 .card-body-labels,
.columna2 .card-body-labels {
    height: calc(50vh - 20px);
    overflow-y: auto;
    max-width: 100%;
    white-space: nowrap;
    display: inline-block;
}
