<footer class="footer ">
    <div class="container-fluid">
        <span class="dropup">
            <button href="#" class="dropdown-toggle btn btn-primary btn-round" data-toggle="dropdown">Dropup <b class="caret"></b></button>
            <ul class="dropdown-menu dropdown-primary dropdown-menu-right">
                <li class="dropdown-header">Dropdown header</li>
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
            </ul>
        </span>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>
        </div>
    </div>
</footer>
