<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4>Informacion de las columnas del Dataset</h4>
            <p>Datos de Violencia de Género e intrafamiliar de enero 2015 a Marzo 2023 del
              departamento de santander</p>
          </div>
          <div class="card-body table-responsive">
            <div class="table-container">
              <table class="table table-hover">
                <thead class="text-primary">
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th>Tipo</th>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Departamento</td>
                    <td>Nombre del departamento de procedencia de la víctima.</td>
                    <td>Texto</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Municipio</td>
                    <td>Nombre del municipio de procedencia de la víctima.</td>
                    <td>Texto</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Semana</td>
                    <td>Semana epidemiológica en la que ocurrió el evento según calendario vigente.</td>
                    <td>Int</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Año</td>
                    <td>Año correspondiente a la semana epidemiológica.</td>
                    <td>Int</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Grupo_edad</td>
                    <td>Rango de edades al que pertenece la víctima.</td>
                    <td>Texto</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>Ciclo_de_vida</td>
                    <td>Es la clasificacion de la edad del Paciente según el ministerio de salud
                      y proteccion social: 01. Primera infancia, 02. Infancia, 03. Adolescencia,
                      04. Jovenes, 05. Adultez, 06. Persona Mayor.</td>
                    <td>Texto</td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td>Sexo</td>
                    <td>Son las caracteristicas fisiologicas del Paciente y son: MASCULINO, FEMENINO, Sin información.
                    </td>
                    <td>Texto</td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>Area</td>
                    <td>Valor alfanumérico correspondiente al código del área donde ocurrió el evento (campo 25):
                      CABECERA MUNICIPAL(1); CENTRO POBLADO(2); RURAL DISPERSO(3).</td>
                    <td>Int</td>
                  </tr>
                  <tr>
                    <td>9</td>
                    <td>Comuna</td>
                    <td>Nombre de la comuna</td>
                    <td>Texto</td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>Tipo_de_seguridad_social</td>
                    <td>Tipo de Régimen en Salud:C = contributivo; S= Subsidiado;
                      P = Excepción; E = Especial; N = No asegurado; I = Indeterminado/pendiente.</td>
                    <td>Texto</td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td>Paciente_hospitalizado</td>
                    <td>1. Sí; 2. No</td>
                    <td>Int</td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td>Condicion_final</td>
                    <td>0. Vivo; 1. Muerto; 2.No sabe-no responde</td>
                    <td>Int</td>
                  </tr>
                  <tr>
                    <td>13</td>
                    <td>Naturaleza</td>
                    <td> 1.Violencia física o psicoligca 2.Abuso sexual 3.Negligencia y abandono </td>
                    <td>Int</td>
                  </tr>
                  <tr>
                    <td>14</td>
                    <td>Actividad</td>
                    <td> 8. Reciclador(a); 13. Líderes cívicos(as); 15. Maestros(as); 16. Servidor público(a);
                      17. Fuerza pública; 24. Estudiante; 26. Otro; 28. Trabajadora doméstica;
                      29. Persona en situación de prostitución; 33. Ninguna;
                      31. Persona dedicada al cuidado del hogar;</td>
                    <td>Int</td>
                  </tr>
                  <tr>
                    <td>15</td>
                    <td>Edad_agre</td>
                    <td>Edad del agresor</td>
                    <td>Int</td>
                  </tr>
                  <tr>
                    <td>16</td>
                    <td>Sexo_Agre</td>
                    <td>M. Masculino; F. Femenino</td>
                    <td>Texto</td>
                  </tr>
                  <tr>
                    <td>17</td>
                    <td>Sus_vic</td>
                    <td>Presencia de alcohol u otra sustancia en la Víctima 1. Sí; 2. No</td>
                    <td>Int</td>
                  </tr>
                  <tr>
                    <td>18</td>
                    <td>Escenario</td>
                    <td>1. Vía pública; 2. Vivienda; 3. Establecimiento educativo; 4. Lugar de trabajo;
                      7. Otro; 8. Comercio y áreas de servicios (Tienda, centro comercial, etc);
                      9. Otros espacios abiertos (bosques, potreros, etc);
                      10. Lugares de esparcimiento con expendido de alcohol; 11. Institución de salud;
                      12. Área deportiva y recreativa</td>
                    <td>Int</td>
                  </tr>
                  <tr>
                    <td>19</td>
                    <td>Nom_eve</td>
                    <td>Nombre del evento</td>
                    <td>Texto</td>
                  </tr>
                  <tr>
                    <td>20</td>
                    <td>Nom_upgd</td>
                    <td>Nombre de la unidad primaria generadora de datos</td>
                    <td>Texto</td>
                  </tr>
                  <tr>
                    <td>21</td>
                    <td>Mes</td>
                    <td>Mes en el que ocurrieron los actos de violencia</td>
                    <td>Texto</td>
                  </tr>
                  <tr>
                    <td>22</td>
                    <td>sivigilas</td>
                    <td>Version de Sivigila con que fue grabado o actualizado el suceso </td>
                    <td>Int</td>
                  </tr>
                  <tr>
                    <td>23</td>
                    <td>trimestre</td>
                    <td>Trimestre del año en que sucedió el hecho, valores posibles: 1, 2, 3 y 4</td>
                    <td>Int</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4>Dataset</h4>
            <p>En esta tabla se muestran los registros del Dataset</p>
          </div>
          <div class="card-body table-responsive">
            <div class="table-container-data">
              <table class="table table-hover">
                <thead class="text-primary">
                  <tr style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                    <th>Departamento</th>
                    <th>Municipio</th>
                    <th>Semana</th>
                    <th>Año</th>
                    <th>Grupo edad</th>
                    <th>Ciclo de vida</th>
                    <th>Sexo</th>
                    <th>Area</th>
                    <th>Comuna</th>
                    <th>Tipo de seguridad social</th>
                    <th>Paciente hospitalizado</th>
                    <th>Condicion final</th>
                    <th>Naturaleza</th>
                    <th>Actividad</th>
                    <th>Edad del agresor</th>
                    <th>Sexo del agresor</th>
                    <th>Sustancias en la victima</th>
                    <th>Escenario</th>
                    <th>Nombre del evento</th>
                    <th>Nombre de upgd</th>
                    <th>Mes</th>
                    <th>Sivigilas</th>
                    <th>Trimestre</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of getCurrentPageRows()"
                      style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                    <td>{{ row.departamento }}</td>
                    <td>{{ row.municipio }}</td>
                    <td>{{ row.semana }}</td>
                    <td>{{ row.anio }}</td>
                    <td>{{ row.grupo_edad }}</td>
                    <td>{{ row.ciclo_de_vida }}</td>
                    <td>{{ row.sexo }}</td>
                    <td>{{ row.area }}</td>
                    <td>{{ row.comuna }}</td>
                    <td>{{ row.tipo_de_seguridad_social }}</td>
                    <td>{{ row.paciente_hospitalizado }}</td>
                    <td>{{ row.condicion_final }}</td>
                    <td>{{ row.naturaleza }}</td>
                    <td>{{ row.actividad }}</td>
                    <td>{{ row.edad_agre }}</td>
                    <td>{{ row.sexo_agre }}</td>
                    <td>{{ row.sustancias_victima }}</td>
                    <td>{{ row.escenario }}</td>
                    <td>{{ row.nom_eve }}</td>
                    <td>{{ row.nom_upgd }}</td>
                    <td>{{ row.mes }}</td>
                    <td>{{ row.sivigila }}</td>
                    <td>{{ row.trimestre }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
             <!-- Agrega botones de paginación -->
          <div class="pagination-buttons d-flex justify-content-between position-sticky bottom-0">
            <button mat-raised-button class="btn btn-primary" type="submit" (click)="prevPage()">Anterior</button>
            <h3>{{ currentPage }}</h3>
            <button mat-raised-button class="btn btn-primary" type="submit" (click)="nextPage()">Siguiente</button>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4>Metricas</h4>
            <p>Despues de observar las metricas obtenidas con los modelos evaluados con los parametros por defecto,
              se decidio optimizar parametros para los dos modelos mas prometedores, los cuales son LightGBM y XGBoost y
              luego de esta optmizacion el modelo con mejores metricas es el XGBoost con parametros los optmizados.</p>
          </div>
          <div class="card-body table-responsive">
            <div class="table-container">
              <table class="table table-hover">
                <thead class="text-primary">
                  <tr style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                    <th>Modelo</th>
                    <th>Exactitud</th>
                    <th>Precision</th>
                    <th>Sencibilidad</th>
                    <th>Puntuacion F1</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let modelo of metric; let last = last">
                    <tr style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                      <td>
                        {{ modelo.modelo }}

                        <span *ngIf="modelo.modelo=='XGBoost Optimizado'">
                          <img src="./assets/img/primero.png" alt="" id="primero">
                        </span>
                        <span *ngIf="modelo.modelo=='XGBoost'">
                          <img src="./assets/img/segundo.png" alt="" id="segundo">
                        </span>
                        <span *ngIf="modelo.modelo=='LightGBM'">
                          <img src="./assets/img/tercero.png" alt="" id="tercero">
                        </span>
                      </td>
                      <td>{{ modelo.exactitud }}</td>
                      <td>{{ modelo.precision }}</td>
                      <td>{{ modelo.sensibilidad }}</td>
                      <td>{{ modelo.puntuacion_F1 }}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Gráfica Métricas</h4>
            </div>
            <div class="card-body">
              <div  id="container" style="width: 100%; height:60vh;">
                <canvas #metrics></canvas>
              </div>
            </div>
        </div> 
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Gráfica Métricas</h4>
          </div>
          <div class="card-body">
            <div  id="container" style="width: 100%; height:60vh;">
              <canvas #metrics></canvas>
            </div>
          </div>
      </div>           
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-primary">
            <img src="./assets/img/modelo.png" alt="" id="ImgHeader">
          </div>
          <div class="card-body">
            <h4 class="card-title">Modelo Seleccionado </h4>
            <p class="card-category" style="color: black;">
              <span class="text-success"><i class="fa fa-long-arrow-up"></i> XGBoost Classifier </span>
              El XGBoost Classifier, también conocido como Extreme Gradient Boosting Classifier,
              es un algoritmo de aprendizaje automático especializado en tareas de clasificación.
              Basado en la combinación de múltiples modelos de árboles de decisión, el XGBoost Classifier
              mejora gradualmente su capacidad predictiva al corregir errores en cada iteración.
              Para realizar una predicción, el modelo utiliza los árboles previamente construidos para evaluar
              las características de los datos de entrada y asignar una categoría basada en la probabilidad más
              alta. Esto lo convierte en una herramienta efectiva y precisa para abordar problemas de
              clasificación en diversos campos, desde el diagnóstico médico hasta el análisis de fraudes.
            </p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">library_books</i> <a href="https://xgboost.readthedocs.io/en/latest/"
                target="_blank">Ver Documentacion</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-primary">
            <img src="./assets/img/optimizacion.png" alt="" id="ImgHeader">
          </div>
          <div class="card-body card-container">
            <h4 class="card-title">Configuracion de los parametros </h4>
            <p class="card-category" style="color: black;">
              xgb.XGBClassifier(learning_rate= 0.06223362642651399, max_depth= 10, colsample_bytree=
              0.43647471109946273,
              n_estimators= 363, reg_alpha= 0.5601315011270463, reg_lambda= 0.05445159550791859, min_child_weight= 1,
              gamma= 0.643238494538452, subsample= 0.9047512569336327, colsample_bylevel= 0.5088157757755716) </p>
            <ul>
              <li><strong>learning_rate:</strong> La tasa de aprendizaje controla la contribución de cada árbol al
                modelo final. Un valor menor significa una contribución más pequeña y permite una convergencia más
                lenta pero estable.</li>
              <li><strong>max_depth:</strong> La profundidad máxima de cada árbol en el modelo. Controla la cantidad
                de divisiones que un árbol puede hacer, lo que puede influir en la complejidad y el sobreajuste del
                modelo.</li>
              <li><strong>colsample_bytree:</strong> La proporción de características que se considera al construir
                cada árbol. Controla la cantidad de diversidad entre los árboles, lo que puede ayudar a prevenir el
                sobreajuste.</li>
              <li><strong>n_estimators:</strong> El número total de árboles en el modelo. Cuantos más árboles, más
                complejo será el modelo y más probable será que se ajuste a los datos.</li>
              <li><strong>reg_alpha:</strong> Parámetro de regularización L1 que penaliza las características con
                coeficientes grandes. Ayuda a prevenir el sobreajuste.</li>
              <li><strong>reg_lambda:</strong> Parámetro de regularización L2 que penaliza los valores grandes de los
                coeficientes de las características. También ayuda a evitar el sobreajuste.</li>
              <li><strong>min_child_weight:</strong> La suma mínima de instancias necesarias en un nodo hoja. Controla
                la partición de los datos y puede evitar particiones con muy pocas instancias.</li>
              <li><strong>gamma:</strong> Parámetro de regularización que especifica una reducción mínima requerida en
                la función de pérdida para que ocurra una partición. Ayuda a controlar la complejidad del modelo.</li>
              <li><strong>subsample:</strong> La proporción de instancias de entrenamiento que se muestrean al
                construir cada árbol. Ayuda a prevenir el sobreajuste y a mejorar la generalización.</li>
              <li><strong>colsample_bylevel:</strong> Similar a colsample_bytree, pero controla la proporción de
                características utilizadas en cada nivel de un árbol, en lugar de en todo el árbol.</li>
            </ul>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">library_books</i> <a
                href="https://xgboost.readthedocs.io/en/latest/parameter.html" target="_blank">Ver Documentacion</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>