<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-icon card-header-primary">
            <div class="card-icon">
              <i class="material-icons">book</i>
            </div>
            <h4 class="card-title">Introducción y Guía</h4>
          </div>
          <div class="card-body">
            Si quieres ver nuevamente la presentación de Introducción y Guía para el aplicativo haz click <a href="#"
              (click)="desplegarOverlay()"><u>Aquí</u></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card card-info">
          <div class="card-header card-header-primary">
            <h4>Información de las columnas del Dataset</h4>
            <p>Datos de Violencia de Género e Intrafamiliar de enero de 2015 a marzo de 2023 del departamento de
              Santander.</p>
          </div>
          <div class="card-body card-body-info table-responsive">
            <div class="table-container">
              <table class="table table-hover">
                <thead class="text-primary">
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Tipo</th>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Departamento</td>
                    <td>Nombre del departamento de procedencia de la víctima.</td>
                    <td>Texto</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Municipio</td>
                    <td>Nombre del municipio de procedencia de la víctima.</td>
                    <td>Texto</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Semana</td>
                    <td>Semana epidemiológica en la que ocurrió el evento según calendario vigente.</td>
                    <td>Int</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Año</td>
                    <td>Año correspondiente a la semana epidemiológica.</td>
                    <td>Int</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Grupo_edad</td>
                    <td>Rango de edades al que pertenece la víctima.</td>
                    <td>Texto</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>Ciclo_de_vida</td>
                    <td>Es la clasificacion de la edad del Paciente según el ministerio de salud
                      y proteccion social: 01. Primera infancia, 02. Infancia, 03. Adolescencia,
                      04. Jovenes, 05. Adultez, 06. Persona Mayor.</td>
                    <td>Texto</td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td>Sexo</td>
                    <td>Son las caracteristicas fisiologicas del Paciente y son: MASCULINO, FEMENINO, Sin información.
                    </td>
                    <td>Texto</td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>Area</td>
                    <td>Valor alfanumérico correspondiente al código del área donde ocurrió el evento (campo 25):
                      CABECERA MUNICIPAL(1); CENTRO POBLADO(2); RURAL DISPERSO(3).</td>
                    <td>Int</td>
                  </tr>
                  <tr>
                    <td>9</td>
                    <td>Comuna</td>
                    <td>Nombre de la comuna</td>
                    <td>Texto</td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>Tipo_de_seguridad_social</td>
                    <td>Tipo de Régimen en Salud:C = contributivo; S= Subsidiado;
                      P = Excepción; E = Especial; N = No asegurado; I = Indeterminado/pendiente.</td>
                    <td>Texto</td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td>Paciente_hospitalizado</td>
                    <td>1. Sí; 2. No</td>
                    <td>Int</td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td>Condicion_final</td>
                    <td>0. Vivo; 1. Muerto; 2.No sabe-no responde</td>
                    <td>Int</td>
                  </tr>
                  <tr>
                    <td>13</td>
                    <td>Naturaleza</td>
                    <td> 1.Violencia física o psicoligca 2.Abuso sexual 3.Negligencia y abandono </td>
                    <td>Int</td>
                  </tr>
                  <tr>
                    <td>14</td>
                    <td>Actividad</td>
                    <td> 8. Reciclador(a); 13. Líderes cívicos(as); 15. Maestros(as); 16. Servidor público(a);
                      17. Fuerza pública; 24. Estudiante; 26. Otro; 28. Trabajadora doméstica;
                      29. Persona en situación de prostitución; 33. Ninguna;
                      31. Persona dedicada al cuidado del hogar;</td>
                    <td>Int</td>
                  </tr>
                  <tr>
                    <td>15</td>
                    <td>Edad_agre</td>
                    <td>Edad del agresor</td>
                    <td>Int</td>
                  </tr>
                  <tr>
                    <td>16</td>
                    <td>Sexo_Agre</td>
                    <td>M. Masculino; F. Femenino</td>
                    <td>Texto</td>
                  </tr>
                  <tr>
                    <td>17</td>
                    <td>Sus_vic</td>
                    <td>Presencia de alcohol u otra sustancia en la Víctima 1. Sí; 2. No</td>
                    <td>Int</td>
                  </tr>
                  <tr>
                    <td>18</td>
                    <td>Escenario</td>
                    <td>1. Vía pública; 2. Vivienda; 3. Establecimiento educativo; 4. Lugar de trabajo;
                      7. Otro; 8. Comercio y áreas de servicios (Tienda, centro comercial, etc);
                      9. Otros espacios abiertos (bosques, potreros, etc);
                      10. Lugares de esparcimiento con expendido de alcohol; 11. Institución de salud;
                      12. Área deportiva y recreativa</td>
                    <td>Int</td>
                  </tr>
                  <tr>
                    <td>19</td>
                    <td>Nom_eve</td>
                    <td>Nombre del evento</td>
                    <td>Texto</td>
                  </tr>
                  <tr>
                    <td>20</td>
                    <td>Nom_upgd</td>
                    <td>Nombre de la unidad primaria generadora de datos</td>
                    <td>Texto</td>
                  </tr>
                  <tr>
                    <td>21</td>
                    <td>Mes</td>
                    <td>Mes en el que ocurrieron los actos de violencia</td>
                    <td>Texto</td>
                  </tr>
                  <tr>
                    <td>22</td>
                    <td>Trimestre</td>
                    <td>Trimestre del año en que sucedió el hecho, valores posibles: 1, 2, 3 y 4</td>
                    <td>Int</td>
                  </tr>
                  <tr>
                    <td>23</td>
                    <td>Violencia_intrafamiliar</td>
                    <td>Indica si existe o no violencia intrefamiliar 1.Si 2.No</td>
                    <td>Int</td>
                  </tr>
                  <tr>
                    <td>24</td>
                    <td>Victima_menor_de_edad</td>
                    <td>Indica si la victima menor de edad 1.Si 2.No</td>
                    <td>Int</td>
                  </tr>
                  <tr>
                    <td>25</td>
                    <td>Agresor_menor_de_edad</td>
                    <td>Indica si el agresor es menor de edad 1.Si 2.No</td>
                    <td>Int</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card card-info">
          <div class="card-header card-header-primary">
            <h4>Dataset</h4>
            <p>En esta tabla se muestran los registros del Dataset</p>
          </div>
          <div class="card-body card-body-info table-responsive">
            <div class="table-container-data">
              <table class="table table-hover">
                <thead class="text-primary">
                  <tr style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                    <th>Departamento</th>
                    <th>Municipio</th>
                    <th>Semana</th>
                    <th>Año</th>
                    <th>Grupo edad</th>
                    <th>Ciclo de vida</th>
                    <th>Sexo</th>
                    <th>Área</th>
                    <th>Comuna</th>
                    <th>Tipo de seguridad social</th>
                    <th>Paciente hospitalizado</th>
                    <th>Condición final</th>
                    <th>Naturaleza</th>
                    <th>Actividad</th>
                    <th>Edad del agresor</th>
                    <th>Sexo del agresor</th>
                    <th>Sustancias en la víctima</th>
                    <th>Escenario</th>
                    <th>Nombre del evento</th>
                    <th>Nombre de UPGD</th>
                    <th>Mes</th>
                    <th>Trimestre</th>
                    <th>Violencia intrafamiliar</th>
                    <th>Víctima menor de edad</th>
                    <th>Agresor menor de edad</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of getCurrentPageRows()"
                    style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                    <td>{{ row.departamento }}</td>
                    <td>{{ row.municipio }}</td>
                    <td>{{ row.semana }}</td>
                    <td>{{ row.anio }}</td>
                    <td>{{ row.grupo_edad }}</td>
                    <td>{{ row.ciclo_de_vida }}</td>
                    <td>{{ row.sexo }}</td>
                    <td>{{ row.area }}</td>
                    <td>{{ row.comuna }}</td>
                    <td>{{ row.tipo_de_seguridad_social }}</td>
                    <td>{{ row.paciente_hospitalizado }}</td>
                    <td>{{ row.condicion_final }}</td>
                    <td>{{ row.naturaleza }}</td>
                    <td>{{ row.actividad }}</td>
                    <td>{{ row.edad_agre }}</td>
                    <td>{{ row.sexo_agre }}</td>
                    <td>{{ row.sustancias_victima }}</td>
                    <td>{{ row.escenario }}</td>
                    <td>{{ row.nom_eve }}</td>
                    <td>{{ row.nom_upgd }}</td>
                    <td>{{ row.mes }}</td>
                    <td>{{ row.trimestre }}</td>
                    <td>{{ row.violencia_intrafamiliar }}</td>
                    <td>{{ row.victima_menor_de_edad }}</td>
                    <td>{{ row.agresor_menor_de_edad }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="pagination-buttons d-flex justify-content-between position-sticky bottom-0">
      <button mat-raised-button class="btn btn-primary" type="submit" (click)="prevPage()">Anterior</button>
      <h3><u>{{ currentPage }}</u></h3>
      <button mat-raised-button class="btn btn-primary" type="submit" (click)="nextPage()">Siguiente</button>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card card-info">
          <div class="card-header card-header-primary">
            <h4>Métricas</h4>
            <p>Después de observar las métricas obtenidas con los modelos evaluados con los parámetros por defecto,
              se decidió optimizar los parámetros para los dos modelos más prometedores, los cuales son LightGBM y
              XGBoost, y
              luego de esta optimización, el modelo con mejores métricas es XGBoost con los parámetros optimizados.</p>
          </div>
          <div class="card-body card-body-info table-responsive">
            <div class="table-container">
              <table class="table table-hover">
                <thead class="text-primary">
                  <tr style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                    <th>Modelo</th>
                    <th>Exactitud</th>
                    <th>Precisión</th>
                    <th>Sensibilidad</th>
                    <th>Puntuación F1</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let modelo of metric; let last = last">
                    <tr style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                      <td>
                        {{ modelo.modelo }}

                        <span *ngIf="modelo.modelo=='XGBoost Optimizado'">
                          <img src="./assets/img/primero.png" alt="" id="primero">
                        </span>
                        <span *ngIf="modelo.modelo=='XGBoost'">
                          <img src="./assets/img/segundo.png" alt="" id="segundo">
                        </span>
                        <span *ngIf="modelo.modelo=='LightGBM'">
                          <img src="./assets/img/tercero.png" alt="" id="tercero">
                        </span>
                      </td>
                      <td>{{ modelo.exactitud }}</td>
                      <td>{{ modelo.precision }}</td>
                      <td>{{ modelo.sensibilidad }}</td>
                      <td>{{ modelo.puntuacion_F1 }}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Gráfica Métricas</h4>
          </div>
          <div class="card-body">
            <div id="container" style="width: 100%; height:60vh;">
              <canvas #metrics></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="card card-info card-chart">
          <div class="card-header card-header-primary">
            <img src="./assets/img/modelo.png" alt="" id="ImgHeader">
          </div>
          <div class="card-body card-body-info">
            <h4 class="card-title">Modelo Seleccionado </h4>
            <p class="card-category" style="color: black;">
              <span class="text-success"><i class="fa fa-long-arrow-up"></i> XGBoost Classifier </span>
              El XGBoost Classifier, también conocido como Extreme Gradient Boosting Classifier,
              es un algoritmo de aprendizaje automático especializado en tareas de clasificación.
              Basado en la combinación de múltiples modelos de árboles de decisión, el XGBoost Classifier
              mejora gradualmente su capacidad predictiva al corregir errores en cada iteración.
              Para realizar una predicción, el modelo utiliza los árboles previamente construidos para evaluar
              las características de los datos de entrada y asignar una categoría basada en la probabilidad más
              alta. Esto lo convierte en una herramienta efectiva y precisa para abordar problemas de
              clasificación en diversos campos, desde el diagnóstico médico hasta el análisis de fraudes.
            </p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">library_books</i> <a href="https://xgboost.readthedocs.io/en/latest/"
                target="_blank">Ver Documentacion</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="card card-info card-chart">
          <div class="card-header card-header-primary">
            <img src="./assets/img/optimizacion.png" alt="" id="ImgHeader">
          </div>
          <div class="card-body card-body-info card-container">
            <h4 class="card-title">Configuración de los parámetros </h4>
            <p class="card-category" style="color: black;">
              xgb.XGBClassifier( objective= 'multi:softmax',
              num_class = 3,
              importance_type='gain',
              learning_rate=0.030958241241393895,
              max_depth=7,
              colsample_bytree=0.5330554532179588,
              n_estimators=568,
              reg_alpha=4.1084086686936143e-08,
              reg_lambda=0.00024280802318611656,
              min_child_weight=1,
              gamma=0.23340955083195258,
              subsample=0.8458562164387711) </p>
            <ul>
              <li><strong>Objective:</strong> La función objetivo utilizada por el algoritmo es "multi:softmax",
                implicando una clasificación multi-clase.</li>

              <li><strong>Num_class:</strong> Número de clases en el problema de clasificación. Configurado en 3,
                indicando tres clases distintas.</li>

              <li><strong>Importance_type:</strong> Tipo de importancia utilizado para evaluar la relevancia de las
                características. Configurado en 'gain', que se refiere a la ganancia de información.</li>

              <li><strong>Learning_rate:</strong> Tasa de aprendizaje que controla la contribución de cada árbol al
                modelo final. Configurado en 0.030958241241393895, sugiriendo una convergencia más lenta pero estable.
              </li>

              <li><strong>Max_depth:</strong> Profundidad máxima de cada árbol en el modelo. Configurado en 7,
                controlando la cantidad de divisiones y afectando la complejidad y el sobreajuste del modelo.</li>

              <li><strong>Colsample_bytree:</strong> Proporción de características consideradas al construir cada árbol.
                Configurado en 0.5330554532179588, controlando la diversidad entre los árboles y previniendo el
                sobreajuste.</li>

              <li><strong>N_estimators:</strong> Número total de árboles en el modelo. Configurado en 568, implicando un
                modelo más complejo con mayor capacidad de ajuste a los datos.</li>

              <li><strong>Reg_alpha:</strong> Parámetro de regularización L1 que penaliza características con
                coeficientes grandes. Configurado en 4.1084086686936143e-08, previniendo el sobreajuste.</li>

              <li><strong>Reg_lambda:</strong> Parámetro de regularización L2 que penaliza valores grandes de
                coeficientes. Configurado en 0.00024280802318611656, ayudando a evitar el sobreajuste.</li>

              <li><strong>Min_child_weight:</strong> Suma mínima de instancias necesarias en un nodo hoja. Configurado
                en 1, controlando la partición de datos y evitando particiones con pocas instancias.</li>

              <li><strong>Gamma:</strong> Parámetro de regularización que especifica una reducción mínima requerida en
                la función de pérdida para que ocurra una partición. Configurado en 0.23340955083195258, controlando la
                complejidad del modelo.</li>

              <li><strong>Subsample:</strong> Proporción de instancias de entrenamiento que se muestrean al construir
                cada árbol. Configurado en 0.8458562164387711, previniendo el sobreajuste y mejorando la generalización.
              </li>
            </ul>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">library_books</i> <a
                href="https://xgboost.readthedocs.io/en/latest/parameter.html" target="_blank">Ver Documentacion</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="mostrarOverlay" class="loading-overlay">
      <mat-card class="custom-card">
        <mat-card-content class="card-content" style="align-self: center;">
          <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li *ngFor="let imagen of imagenes; let i = index" data-target="#carouselExampleControls"
                  [attr.data-slide-to]="i" [ngClass]="{ 'active': i === 0 }"></li>
              </ol>
              <div class="carousel-inner">
                <div *ngFor="let imagen of imagenes; let i = index" class="carousel-item"
                  [ngClass]="{ 'active': i === 0 }">
                  <img class="d-block w-100" [src]="imagen" [alt]="'Slide ' + (i + 1)">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div class="boton boton-container">
              <button mat-raised-button class="btn btn-primary" (click)="ocultarOverlay()">Ir a la aplicación</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- Background Animado-->
      <div class="area">
        <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>