
#encabezado{
    color: white;
}
#primero {
  width: 20px; 
  height: 20px; 
}
#segundo {
  width: 24px; 
  height: 24px; 
}
#tercero {
  width: 24px; 
  height: 24px; 
}
#ImgHeader{
  width: 220px; 
  height: 220px; 
  display: block; 
  margin: 0 auto;
}
.card {
  min-height: 400px; /* Ajusta la altura mínima según tus necesidades */
  max-height: 500px; /* Ajusta la altura máxima según tus necesidades */
}

.card-body {
  overflow-y: auto; /* Agregar una barra de desplazamiento vertical si el contenido es demasiado largo */
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}