<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 ">
        <div class="card">
          <div class="card-header card-header-primary">
            <h3 class="card-title">Predictor</h3>
            <p>Ingresa todos los campos para realizar la prediccion sobre la naturaleza de violencia de genero.
              Ten en cuenta que hay variables que inciden directamente en otras, esto lo podras ver seleccionando el signo de pregunta
              que esta a lado derecho de cada campo.
            </p>
          </div>
          <div class="card-body">
            <cdk-virtual-scroll-viewport itemSize="auto" class="form-scroll-viewport">
              <form [formGroup]="formulario" (ngSubmit)="predecir()">

                <div class="tooltip-container">
                  <mat-form-field>
                    <mat-label>¿En qué departamento ocurrió el evento? </mat-label>
                    <mat-select formControlName="departamento">
                      <mat-option *ngFor="let departamento of departamentos" [value]="departamento">
                        {{ departamento }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formulario.get('departamento').invalid">
                      Departamento es requerido.
                    </mat-error>
                  </mat-form-field>
                  <i mat-raised-button
                    [matTooltip]="tooltipContentDepartamento"
                    aria-label="Button that displays a tooltip when clicked"
                    (click)="mostrarTooltip(tooltipDepartamento)"
                    class="fa fa-question-circle"
                    #tooltipDepartamento="matTooltip">
                  </i>
                </div>

              <div class="tooltip-container">
                <mat-form-field>
                  <mat-label>¿En qué municipio ocurrió el evento?</mat-label>
                  <mat-select formControlName="municipio" >
                    <mat-option *ngFor="let municipio of municipios" [value]="municipio">
                      {{ municipio}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formulario.get('municipio').invalid">
                    Municipio es requerido.
                  </mat-error>
                </mat-form-field>
                <i mat-raised-button
                [matTooltip]="tooltipContentMunicipio"
                aria-label="Button that displays a tooltip when clicked"
                (click)="mostrarTooltip(tooltipMunicipio)"
                class="fa fa-question-circle"
                #tooltipMunicipio="matTooltip">
              </i>

              </div>

              <div class="tooltip-container">
                <mat-form-field class="slider-field">
                  <mat-label>¿En qué semana ocurrió el evento?</mat-label>
                  <div class="slider-container">
                    <input type="range" matInput formControlName="semana" min="1" max="52" step="1" class="slider">
                    <div class="slider-track"></div>
                  </div>
                  <span>{{ formulario.get('semana').value }}</span>
                  <mat-error *ngIf="formulario.get('semana').invalid">
                    Semana es requerido.
                  </mat-error>
                </mat-form-field>
                <i mat-raised-button
                    [matTooltip]="tooltipContentSemana"
                    aria-label="Button that displays a tooltip when clicked"
                    (click)="mostrarTooltip(tooltipSemana)"
                    class="fa fa-question-circle"
                    #tooltipSemana="matTooltip">
                  </i>
              </div>

              <div class="tooltip-container">
                <mat-form-field class="slider-field">
                  <mat-label>¿En qué año ocurrió el evento?</mat-label>
                  <div class="slider-container">
                    <input type="range" matInput formControlName="año" min="2015" max="2023" step="1" class="slider">
                    <div class="slider-track"></div>
                  </div>
                  <span>{{ formulario.get('año').value }}</span>
                  <mat-error *ngIf="formulario.get('año').invalid">
                    Año es requerido.
                  </mat-error>
                </mat-form-field>
                <i mat-raised-button
                      [matTooltip]="tooltipContentAnio"
                      aria-label="Button that displays a tooltip when clicked"
                      (click)="mostrarTooltip(tooltipAnio)"
                      class="fa fa-question-circle"
                      #tooltipAnio="matTooltip">
                    </i>
              </div>

              <div class="tooltip-container">
                <mat-form-field>
                  <mat-label>¿A qué rango de edades pertenece la víctima?</mat-label>
                  <mat-select formControlName="grupo_edad" >
                    <mat-option *ngFor="let grupoEdad of gruposEdad" [value]="grupoEdad">
                      {{ grupoEdad }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formulario.get('grupo_edad').invalid">
                    Grupo edad es requerido.
                  </mat-error>
                </mat-form-field>
                <i mat-raised-button
                      [matTooltip]="tooltipContentRangoEdad"
                      aria-label="Button that displays a tooltip when clicked"
                      (click)="mostrarTooltip(tooltipRangoEdad)"
                      class="fa fa-question-circle"
                      #tooltipRangoEdad="matTooltip">
                    </i>
              </div>

              <div class="tooltip-container">
                <mat-form-field>
                  <mat-label>¿Cuál es el sexo de la víctima?</mat-label>
                  <mat-select formControlName="sexo" >
                    <mat-option *ngFor="let sexo of sexos" [value]="sexo">
                      {{ sexo }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formulario.get('sexo').invalid">
                    Sexo es requerido.
                  </mat-error>
                </mat-form-field>
                <i mat-raised-button
                [matTooltip]="tooltipContentSexoVictima"
                aria-label="Button that displays a tooltip when clicked"
                (click)="mostrarTooltip(tooltipSexoVictima)"
                class="fa fa-question-circle"
                #tooltipSexoVictima="matTooltip">
              </i>
              </div>

              <div class="tooltip-container">
                <mat-form-field>
                  <mat-label>¿En qué área del municipio ocurrió el evento?</mat-label>
                  <mat-select formControlName="area" >
                    <mat-option *ngFor="let area of areas" [value]="area">
                      {{ area }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formulario.get('area').invalid">
                    Area es requerido.
                  </mat-error>
                </mat-form-field>
                <i mat-raised-button
                [matTooltip]="tooltipContentArea"
                aria-label="Button that displays a tooltip when clicked"
                (click)="mostrarTooltip(tooltipArea)"
                class="fa fa-question-circle"
                #tooltipArea="matTooltip">
              </i>
              </div>

              <div class="tooltip-container">
                <mat-form-field>
                  <mat-label>¿En qué comuna ocurrió el evento?</mat-label>
                  <mat-select formControlName="comuna" >
                    <mat-option *ngFor="let comuna of comunas" [value]="comuna">
                      {{ comuna }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formulario.get('comuna').invalid">
                    Comuna es requerido.
                  </mat-error>
                </mat-form-field>
                <i mat-raised-button
                [matTooltip]="tooltipContentComuna"
                aria-label="Button that displays a tooltip when clicked"
                (click)="mostrarTooltip(tooltipComuna)"
                class="fa fa-question-circle"
                #tooltipComuna="matTooltip">
              </i>
              </div>

              <div class="tooltip-container">
                <mat-form-field>
                  <mat-label>¿Cuál es el tipo de seguridad social de la victima?</mat-label>
                  <mat-select formControlName="tipo_de_seguridad_social" >
                    <mat-option *ngFor="let tipo_de_seguridad_social of tiposDeSeguridadSocial"
                      [value]="tipo_de_seguridad_social">
                      {{ tipo_de_seguridad_social }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formulario.get('tipo_de_seguridad_social').invalid">
                    Tipo de Seguridad Social es requerido.
                  </mat-error>
                </mat-form-field>
                <i mat-raised-button
                [matTooltip]="tooltipContentSeguridadSocial"
                aria-label="Button that displays a tooltip when clicked"
                (click)="mostrarTooltip(tooltipSeguridadSocial)"
                class="fa fa-question-circle"
                #tooltipSeguridadSocial="matTooltip">
              </i>
              </div>

              
              <div class="tooltip-container">
                <mat-form-field>
                  <mat-label>¿La victima fue hospitalizada?</mat-label>
                  <mat-select formControlName="paciente_hospitalizado" >
                    <mat-option *ngFor="let paciente_hospitalizado of  tiposDePacienteHospitalizado"
                      [value]="paciente_hospitalizado.valor">
                      {{ paciente_hospitalizado.texto }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formulario.get('paciente_hospitalizado').invalid">
                    Paciente Hospitalizado es requerido.
                  </mat-error>
                </mat-form-field>
                <i mat-raised-button
                [matTooltip]="tooltipContentVictimaHospitalizada"
                aria-label="Button that displays a tooltip when clicked"
                (click)="mostrarTooltip(tooltipVictimaHospitalizada)"
                class="fa fa-question-circle"
                #tooltipVictimaHospitalizada="matTooltip">
              </i>
              </div>

              <div class="tooltip-container">
                <mat-form-field>
                  <mat-label>¿Cuál es la condición final de la victima?</mat-label>
                  <mat-select formControlName="condicion_final" >
                    <mat-option *ngFor="let condicion_final of  condicionesFinales" [value]="condicion_final.valor">
                      {{ condicion_final.texto }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formulario.get('condicion_final').invalid">
                    Condición Final es requerido.
                  </mat-error>
                </mat-form-field>
                <i mat-raised-button
                [matTooltip]="tooltipContentEstadoFinal"
                aria-label="Button that displays a tooltip when clicked"
                (click)="mostrarTooltip(tooltipEstadoFinal)"
                class="fa fa-question-circle"
                #tooltipEstadoFinal="matTooltip">
              </i>
              </div>

              <div class="tooltip-container">
                <mat-form-field>
                  <mat-label>¿Cuál es la actividad de la víctima?</mat-label>
                  <mat-select formControlName="actividad" >
                    <mat-option *ngFor="let actividad of  actividades" [value]="actividad.valor">
                      {{ actividad.texto }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formulario.get('actividad').invalid">
                    Actividad es requerido.
                  </mat-error>
                </mat-form-field>
                <i mat-raised-button
                [matTooltip]="tooltipContentActividadVictima"
                aria-label="Button that displays a tooltip when clicked"
                (click)="mostrarTooltip(tooltipActividadVictima)"
                class="fa fa-question-circle"
                #tooltipActividadVictima="matTooltip">
              </i>
              </div>

              <div class="tooltip-container">
                <mat-form-field>
                  <mat-label>¿Cuál es la edad del agresor?</mat-label>
                  <div class="slider-container">
                    <input type="range" matInput formControlName="edad_agre" min="10" max="99" step="1" class="slider">
                    <div class="slider-track"></div> 
                  </div>
                  <span>{{ formulario.get('edad_agre').value }}</span>
                  <mat-error *ngIf="formulario.get('edad_agre').invalid">
                    Edad Agresor es requerido.
                  </mat-error>
                </mat-form-field>
                <i mat-raised-button
                [matTooltip]="tooltipContentEdadAgresor"
                aria-label="Button that displays a tooltip when clicked"
                (click)="mostrarTooltip(tooltipEdadAgresor)"
                class="fa fa-question-circle"
                #tooltipEdadAgresor="matTooltip">
              </i>
              </div>

              <div class="tooltip-container">
                <mat-form-field>
                  <mat-label>¿Cuál es el sexo del agresor?</mat-label>
                  <mat-select formControlName="sexo_agre" >
                    <mat-option *ngFor="let sexo_agre of  sexosAgre" [value]="sexo_agre.valor">
                      {{ sexo_agre.texto }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formulario.get('sexo_agre').invalid">
                    Sexo Agresor es requerido.
                  </mat-error>
                </mat-form-field>
                <i mat-raised-button
                [matTooltip]="tooltipContentSexoAgresor"
                aria-label="Button that displays a tooltip when clicked"
                (click)="mostrarTooltip(tooltipSexoAgresor)"
                class="fa fa-question-circle"
                #tooltipSexoAgresor="matTooltip">
              </i>
              </div>

              
              <div class="tooltip-container">
                <mat-form-field>
                  <mat-label>¿Cuál es el parentezco del agresor con la víctima?</mat-label>
                  <mat-select formControlName="parentezco_vict" >
                    <mat-option *ngFor="let parentezco_vict of  parentezcosVict" [value]="parentezco_vict">
                      {{ parentezco_vict}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formulario.get('parentezco_vict').invalid">
                    Parentezco Víctima es requerido.
                  </mat-error>
                </mat-form-field>
                <i mat-raised-button
                [matTooltip]="tooltipContentParentezco"
                aria-label="Button that displays a tooltip when clicked"
                (click)="mostrarTooltip(tooltipParentezco)"
                class="fa fa-question-circle"
                #tooltipParentezco="matTooltip">
              </i>
              </div>

              <div class="tooltip-container">
                <mat-form-field>
                  <mat-label>¿La víctima consumío alcohol u otra sustancia?</mat-label>
                  <mat-select formControlName="sustancias_victima" >
                    <mat-option *ngFor="let sustancias_victima of  sustanciasVictima"
                      [value]="sustancias_victima.valor">
                      {{ sustancias_victima.texto }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formulario.get('sustancias_victima').invalid">
                    Sustancias Víctima es requerido.
                  </mat-error>
                </mat-form-field>
                <i mat-raised-button
                [matTooltip]="tooltipContentSustanciasVictima"
                aria-label="Button that displays a tooltip when clicked"
                (click)="mostrarTooltip(tooltipSustanciasVictima)"
                class="fa fa-question-circle"
                #tooltipSustanciasVictima="matTooltip">
              </i>
              </div>

              <div class="tooltip-container">
                <mat-form-field>
                  <mat-label>¿En qué escenario ocurrió el evento?</mat-label>
                  <mat-select formControlName="escenario" >
                    <mat-option *ngFor="let escenario of  escenarios" [value]="escenario.valor">
                      {{ escenario.texto }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formulario.get('escenario').invalid">
                    Escenario es requerido.
                  </mat-error>
                </mat-form-field>
                <i mat-raised-button
                [matTooltip]="tooltipContentEscenarioEvento"
                aria-label="Button that displays a tooltip when clicked"
                (click)="mostrarTooltip(tooltipEscenarioEvento)"
                class="fa fa-question-circle"
                #tooltipEscenarioEvento="matTooltip">
              </i>
              </div>

              <div class="tooltip-container">
                <mat-form-field>
                  <mat-label>¿Cuál es el nombre de la unidad primaria generadora de datos?</mat-label>
                  <mat-select formControlName="nom_upgd" >
                    <mat-option *ngFor="let nom_upgd of  noms_upgd" [value]="nom_upgd">
                      {{ nom_upgd }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formulario.get('nom_upgd').invalid">
                    Nombre UPGD es requerido.
                  </mat-error>
                </mat-form-field>
                <i mat-raised-button
                [matTooltip]="tooltipContentUPGD"
                aria-label="Button that displays a tooltip when clicked"
                (click)="mostrarTooltip(tooltipUPGD)"
                class="fa fa-question-circle"
                #tooltipUPGD="matTooltip">
              </i>
              </div>
                <button mat-raised-button class="btn btn-primary" type="submit">Enviar</button>
                <span style="margin-left: 10px;"></span> 
                <button mat-raised-button class="btn btn-light" type="button" (click)="limpiarFormulario()">Limpiar</button>
              </form>
            </cdk-virtual-scroll-viewport>
          </div>
        </div>

      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">

        <div class="card">
          <div class="card-header card-header-primary">
            <h3 id="prediccion">Predicción</h3>
            <h3 *ngIf="!banderaVisibilidad" class="card-title">{{ definicion }}</h3>
          </div>
          <div class="card-body">
            <div *ngIf="prediccion==0 && !banderaVisibilidad">
              <p>La violencia física consiste en hacer uso de la fuerza para causar un daño
                a la víctima. Las víctimas no tienen por qué pertenecer a un determinado colectivo,
                y tampoco se tiene por qué tener en cuenta su sexo o condición. Lo que caracteriza
                a la violencia física es el uso de la fuerza, no la condición de la víctima.
                La violencia psicológica existe cuando se humilla o intenta degradar a una persona mediante insultos
                o palabras que provocan daño. El uso continuado de esta violencia le puede causar graves transtornos
                a la víctima, pudiendo necesitar apoyo psicológico. Este tipo de violencia también se caracteriza
                por su método, no por el tipo de víctima</p>
            </div>
            <div *ngIf="prediccion==1 && !banderaVisibilidad">
              <p>Una agresión sexual o abuso se refiere a cualquier contacto sexual no deseado.
                Sucede cuando alguien te fuerza o presiona (sea física o emocionalmente) a que hagas
                alguna cosa de tipo sexual. La violación es cuando alguien te fuerza o presiona para
                que tengas sexo</p>
            </div>
            <div *ngIf="prediccion==2 && !banderaVisibilidad">
              <p>
                implica descuido u omisión en la realización de determinadas atenciones o desamparo de una
                persona que depende de uno o por la cual uno tiene alguna obligación legal o moral.

              </p>
            </div>
          </div>
        </div>
        <div *ngIf="mostrarOverlay" class="loading-overlay">
          <div *ngIf="animacion" class="loading-animation"></div>
          <p class="loading-message" *ngIf="animacion">Cargando...</p>
        </div>
        <div [class.invisible]="banderaCard" class="card card-grafico">
          <div class="card-header card-header-primary">
            <h4>Importancia de las caracteristicas
              <i mat-raised-button
                [matTooltip]="tooltipContentGrafica"
                aria-label="Button that displays a tooltip when clicked"
                (click)="mostrarTooltip(tooltipGrafica)"
                class="fa fa-question-circle"
                #tooltipGrafica="matTooltip">
              </i>
            </h4>
          </div>
          <div class="card-body">
            <canvas [class.invisible]="banderaVisibilidad" id="graficoImportancia"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>