<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Elige la columna</h4>
                    </div>
                    <div class="card-body">
                        Escoge una de las columnas disponibles para que se genere la gráfica dona.
                        <form>
                            <mat-form-field>
                                <mat-label>Columna</mat-label>
                                <mat-select [(ngModel)]="columna_selec" name="columna"
                                    (selectionChange)="actualizarGraficaQueso()">
                                    <mat-option *ngFor="let columna of columnas" [value]="columna">
                                        {{columna}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </form>
                    </div>
                </div>
                <div class="card card-stats">
                    <div class="card-header card-header-icon card-header-primary">
                        <div class="card-icon">
                            <i class="material-icons">donut_large</i>
                        </div>
                        <p class="card-category">Valores de la columna: </p>
                        <h3 class="card-title">{{columna_selec}}
                        </h3>
                    </div>
                    <div class="card-body">
                        <div id="legend-container" class="legend-container">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-6">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Gráfica Dona
                            <i class="fa fa-question-donut_large"  matTooltip="En esta gráfica de dona, al seleccionar una variable específica, se habilita la visualización detallada de la cantidad de registros asociados a cada valor de la variable. Al desplazar el puntero sobre cada porción, se revela el número exacto de registros correspondientes a esa categoría. Esta funcionalidad permite una exploración más detallada y una comprensión precisa de la distribución de datos, brindando una experiencia interactiva que facilita la identificación de patrones y la toma de decisiones informada basada en los valores numéricos asociados a cada valor de la variable seleccionada."
                            aria-label="Button that displays a tooltip when focused or hovered over"></i>
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="chart-scroll-container" style="width: 100%; height:60vh;">
                            <canvas id="myChart2"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>