<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Elige la columna</h4>
                    </div>
                    <div class="card-body">
                        Escoge una de las columnas disponibles para que se genere la gráfica de barras horizontal.
                        <form>
                            <mat-form-field>
                                <mat-label>Columna 1</mat-label>
                                <mat-select [(ngModel)]="columna_selec" name="columna3"
                                    (selectionChange)="actualizarGraficaHorizontal()">
                                    <mat-option *ngFor="let columna of columnas" [value]="columna">
                                        {{columna}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </form>
                    </div>
                </div>

                <div class="card card-stats">
                    <div class="card-header card-header-icon card-header-primary">
                        <div class="card-icon">
                            <i class="material-icons" style="transform: rotate(90deg)">bar_chart</i>
                        </div>
                        <p class="card-category">Valores de la columna: </p>
                        <h3 class="card-title">{{columna_selec}}
                        </h3>
                    </div>
                    <div class="card-body">
                        <div id="legend-container" class="legend-container">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-6">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Gráfica de barras horizontal
                            <span class="tooltip-trigger" data-toggle="tooltip" data-placement="right"  
                            title="En este gráfico de barras horizontales interactivo, se ofrece la capacidad de seleccionar una variable específica. Al elegir la variable de interés, la visualización se adapta dinámicamente, mostrando la distribución de las categorías asociadas a esa variable en el eje horizontal. Al desplazar el cursor sobre cada barra, se despliega información detallada, incluyendo los valores numéricos correspondientes a cada categoría. Esta funcionalidad proporciona una herramienta efectiva para explorar y comparar la distribución de una variable particular, facilitando la identificación de patrones y tendencias dentro de los datos." >
                                <i class="fa fa-question-circle"></i>
                            </span>
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="chart-scroll-container" style="width: 100%; height:60vh;">
                            <canvas id="myChart2"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>